ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a{
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
}